.nav-bar a{
	color: #000
}

.nav-bar .book-now-text{
	color: #fff;
}

section {
    margin: 64px 0px;
    padding: 12px 64px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;;
}

.section-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.gallery-container {
    max-width: 80%;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 8px;
}

.gallery {
    display: flex;
    width: 100%;
    height: 500px;
}


.img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.gallery-small {
    max-width: 100%;
    padding: 8px 0px;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    overflow: scroll;
    white-space: nowrap;
}

.gallery-small::-webkit-scrollbar {
    display: flex;
}

.gallery-small-img {
    display: inline-block;
    min-width: 200px;
    height: 100px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .gallery-container {
        max-width: 100%;
    }
    
}